.table{
    height: 100%;
    border: 2px solid #dee2e6;
    font-size: 13px;
}

.table thead tr th{
    border: none;
    text-align: center;
    font-weight: 300;
    padding: 3px 0.75rem !important;
}

.table tbody tr td{
    border: 2px solid #dee2e6;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    padding: 3px 0.75rem !important;
}

.btn-scale{
    transition: all 0.3s;
}

.btn-scale:hover{
    transform: scale(1.1);
}

#table-to-xls{
    height: 100%;
}

.td-alternate-color-x{
    background-color: rgba(0, 0, 0, 0.05);
}

.td-alternate-color-y{
    background-color: rgba(255, 255, 255, 0.1) !important;
}

caption{
    display: none;
}

.react-bootstrap-table table { 
    table-layout: auto !important; 
}

.react-bs-table-sizePerPage-dropdown button{
    margin-left: 10px;
}

.react-bs-table-no-data{
    padding: 3px 0.75rem !important;
}