.conexao-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: calc(100vh - 160px);
    padding: 20px;
}

.conexao-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    min-height: 500px;
}

.conexao-card-header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-test{
    width: 100%;
    background: var(--primary-dark);
    opacity: 0.5;
    color: var(--primary-white);
    transition: all 0.3s;
}

.button-test:hover{
    color: var(--primary-white);
    transform: scale(1.1);
}

.conexao-card-body{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: all 0.3s;
}

#conexao-button{
    width: 64px;
    height: 64px;
    background-color: var(--primary-dark);
    border-radius: 25px;
    color: var(--primary-white);
    opacity: 0.5;
    border: none;
    transition: all 0.3s;
}

#conexao-button.active{
    background-color: var(--primary-green);
    transition: all 0.3s;
}

#conexao-line{
    width: 90px;
    height: 4px;
    background-color: var(--primary-dark);
    opacity: 0.5;
    transition: all 0.3s;
}

#conexao-line.active{
    background-color: var(--primary-green);
    transition: all 0.3s;
}

#conexao-button:hover{
    transform: scale(1.1);
}

.conexao-loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.conexao-card-footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.conexao-card-footer span{
    font-size: 20px;
    padding-right: 10px;
}