.consulta-medicao-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.cm-loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cm-header{
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-white);
    box-shadow: 0 1px 15px 1px rgb(39 39 39 / 10%);
}

.cm-header-inputs{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.cm-header-inputs .cm-header-box-select{
    width: 20%;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.cm-header-inputs .cm-header-box-datepicker{
    width: 10%;
    display: flex;
    flex-direction: column;
    margin: 0 30px;
}

.cm-header .cm-header-box-buttons{
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cm-header-box-buttons .btn{
    margin: 10px 5px;
}

.button-ok{
    background: var(--primary-green);
    color: var(--primary-white);
    transition: all 0.3s;
}

.button-limpar{
    background: var(--primary-orange);
    color: var(--primary-white);
    transition: all 0.3s;
}

.button-ok:hover{
    color: var(--primary-white);
    transform: scale(1.1);
}

.button-limpar:hover{
    color: var(--primary-white);
    transform: scale(1.1);
}

.react-date-picker__wrapper{
    height: 38px;
    border-radius: 10px;
    border: 1px solid #ced4da im !important;
}